package homepage_templ 

import (
	"color_picker/cmd/types"
	"fmt"
)

templ Setup(container types.Color_container) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link rel="stylesheet" href="/static/styles.css"/>
			<script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0/bundles/datastar.js"></script>
		</head>
		<body>
			<main>
				@Roulette(0, 0, container)
			</main>
			<footer>
				<div id="spacebar" data-on:keydown__window="evt.key === ' ' && @get('/get_rando_color')">
					<kbd>Space</kbd> `for` random color
				</div>
			</footer>
		</body>
	</html>
}

templ Get_clr_container(container types.Color_container) {
	<div id="clr-container">
		for i, color := range container.Colors {
			<div
				class="clr-panel"
				id={ fmt.Sprintf("cl-%d", i) }
				style={ fmt.Sprintf("background-color: rgb(%d, %d, %d)", color.R, color.G, color.B) }
			></div>
		}
	</div>
}

templ Roulette(index int, frame_time float32, container types.Color_container) {
	if index == 0 {
		<button id="roulette" data-on:click="@get('/roulette?ind=0')">Roulette</button>
		@Get_clr_container(container)
	} else {
		<button
			id="roulette"
			{ fmt.Sprintf("data-on-interval__duration.%.2fms", float32(frame_time * 10)) }
			{ fmt.Sprintf("=@get('/roulette?ind=%d')", index) }
		>
			Roulette
		</button>
		@Get_clr_container(container)
	}
}
